body {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-image: url(../img/374748.png);
background-repeat: no-repeat;
width: 90%;
height: auto;
}

main, div {
margin-top: 19%;
}

h1 {
  text-align: center;
  color: blue;
  text-shadow: 1px 1px yellow;
}

img {
  display: block;
  margin: 0 auto;
}